@import "src/style/color";

.sidebarChat {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #f6f6f6;
  cursor: pointer;

  &:hover {
    background-color: $light_hover;
  }

  &__info {
    margin-left: 1rem;

    h3 {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }
}
